<app-navbar [data]="navKerala"></app-navbar>

<section class="main" style="background-image: image-set('851697-3840x2160-desktop-4k-kerala-background.jpg'); background-size: cover;
background-position: center;
color: white;
height: 60vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;">
    <div>
      <h1 class="display-4">Welcome to Kerala</h1>
      <p class="lead">Experience the tranquility of backwaters, beaches, and rich culture.</p>
    </div>
</section>

<div class="container kerala-description my-4">
    <h2 class="text-center mb-4">About Kerala</h2>
    <p class="text-center">
      Kerala, known as "God's Own Country," is a state located on the southwestern coast of India. It is famous for its serene backwaters, pristine beaches, and lush green landscapes. The state offers a perfect blend of natural beauty, rich culture, and traditional Ayurvedic healing practices. From the hill stations in Munnar to the backwaters of Alleppey, Kerala offers travelers a peaceful and rejuvenating experience.
    </p>
        <h4>Backwaters of Kerala</h4>
        <p>
          The backwaters of Kerala are a network of interconnected canals, rivers, lakes, and inlets. Houseboats on these tranquil waters offer a unique way to experience the natural beauty of the region.
        </p>
        <h4>Beaches and Hill Stations</h4>
        <p>
          Kerala boasts several beautiful beaches like Varkala and Kovalam, along with hill stations like Munnar that provide a cool retreat from the coastal heat. These places are perfect for nature lovers and adventure seekers.
        </p>
  </div>

<app-footer [data]="footerKerala"></app-footer>
