.card:hover {
    transition: .5s;
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds shadow for emphasis */
   
  }

  button:hover{
    background-color: black;
    color: white;
  }